* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-family: jost_regular, Arial, sans-serif;
    font-size: 1.1em;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #333;
}

a:link {
    text-decoration: none;
    outline: none;
    color: #333;
}

a:visited {
    text-decoration: none;
    outline: none;
    color: #333;
}

a:hover {
    text-decoration: none;
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th {
    padding: 0;
}

main, footer, header, article, section, aside, figure, figcaption, hgroup, menu, nav, details, summary {
    display: block;
}

audio, video, canvas, progress {
    vertical-align: baseline;
    display: inline-block;
}

html, body, .page {
    height: 100%;
    display: block;
}

.center {
    min-height: 100%;
    position: relative;
    padding-bottom: 120px;
}

footer {
    position: relative;
    height: 60px;
    margin-top: -60px;
}

html {
    overflow-y: scroll;
}

body {
    background: transparent;
}

.page {
    z-index: 5;
    position: relative;
}

header {
    height: 120px;
    margin-bottom: 20px;
    text-align: left;
    position: relative;
}

footer {
    text-align: right;
}

.main-block {
    width: 920px;
    margin: 0 auto;
}

.header-decor-block {
    height: 20px;
}

.header-decor-center, .footer-decor-center {
    border-top: 1px solid #f74;
    float: none;
    position: relative;
    z-index: 5;
}

.header-decor-right {
    border-top: 1px solid #f74;
    width: 50%;
    float: right;
    z-index: 5;
}

.footer-decor-left {
    border-top: 1px solid #f60;
    width: 50%;
    float: left;
    position: relative;
    z-index: 5;
}

.header-logo {
    font-family: pt_sans_regular, Arial, sans-serif;
    width: 370px;
    height: 100px;
    position: relative;
    left: 50px;
    top: 30px;
}

.header-logo img {
    min-width: 106px;    
}

.header-text {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.header-logo-name {
    display: block;
    font-size: 44px;
    color: #f60;
    font-family: jost_regular, sans-serif;
}

.header-logo-label, .header-exam-logo-label {
    display: block;
    font-size: 22px;
    font-family: Calibri, sans-serif;
    padding-top: 2px;  
    padding-left: 2px;
}

.header-logo-label {
    color: #f60;
}

.header-exam-logo-label {
    color: #294;
}

.footer-info {
    font-family: pt_sans_regular, Arial, sans-serif;
    position: relative;
    margin: 0 auto;
    text-align: right;
    padding-top: 18px;
    display: inline-block;
    color: #f60;
    z-index: 5;
}

.post-preview-image-block {
    width: 400px;
}

.post-preview-image-block img, .post-single-main-image img, .simple-post-image img {
    width: 100%;
    height: auto;
}

.content-title-label {
    font-weight: normal;
    display: block;
    padding: 10px 0 5px;
    font-size: 28px;
}




.posts-list-container {
    padding-top: 50px;
}

.posts-list-item {
    border-top: 1px solid #f93;
    margin: 15px 0 35px;
    padding-top: 15px;
    position: relative;
}

.posts-list-item-container {
    padding: 20px 20px 25px;
    display: block;
    transition: 0.4s all;
    position: relative;
    border-radius: 5px;
}

.posts-list-item-container:hover {
    background: #fefdc3;
}

.posts-list-item h3 {
    display: normal;
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 20px;
}

.posts-list-item-category {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    color: #999;
    user-select: none;
}

.posts-list-preview-block {
    padding-top: 20px;
}

.auth-block {
    font-family: pt_sans_regular, Arial, sans-serif;
    position: absolute;
    right: 30px;
    bottom: 0%;
}

a.auth-link {
    border: 1px solid transparent;
    display: inline-block;
    color: #f60;
    margin-left: 40px;
    width: 120px;
    height: 34px;
    padding-top: 6px;
    text-align: center;
    border-bottom: 1px solid #f60;
}

a.auth-link:hover {
    border-top: 1px solid #f60;
}

span.auth-user-name {
    color: #294;
    display: inline-block;
    width: 120px;
    height: 34px;
    padding-top: 6px;
    text-align: center;
    user-select: none;
    unselectable: on;
    -moz-user-select: none;
    font-family: pt_sans_regular, Arial, sans-serif;
    vertical-align: top;
}

.post-single-main-image {
    position: relative;
    width: 920px;
    line-height: 0;
    border: 18px solid #ffffd4;
    margin-bottom: 40px;
}

.post-single-main-image img {
    border-radius: 3px;
}

.post-single-content {
    padding-top: 30px;
    overflow: hidden;
}

.post-single-content p {
    padding-bottom: 20px;
    font-size: 1.12em;
}

.post-single-comments-title {
    padding: 10px;
    font-size: 24px;
}

.post-single-comments {
    background: #ffffd2;
    padding: 15px;
}

.post-single-comment-item {
    padding: 10px 15px 15px;
    margin-top: 40px;
    border-bottom: 1px solid #fd8;
    border-left: 1px solid #fd8;
    position: relative;
    background: #ffffe3;
}

.post-single-comment-item-author {
    font-size: 19px;
    padding-bottom: 2px;
    color: #172;
}

.post-single-comment-item-date {
    font-size: 14px;
    padding-bottom: 16px;
    color: #777;
}

.post-single-comment-item-text {
    line-height: 1.35;
}

.high-menu {
    font-family: pt_sans_regular, Arial, sans-serif;
    list-style-type: none;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    left: -38px;
}

.high-menu > li {
    display: inline-block;
    position: relative;
}

.high-menu > li > a {
    display: inline-block;
    text-align: center;
    width: 155px;
    height: 38px;
    padding-top: 8px;
    margin: 0 35px;
    color: #f74;
    position: relative;
}

.high-menu > li > a:before { 
    border-top: 1px solid #f74;
    border-bottom: 1px solid #f74;
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -0%);
    z-index: -1;
    transition: all 0.3s ease;
    width: 40%;
    height: 100%;
    opacity: 0.0;
}

.high-menu > li > a:hover:before { 
    width: 100%;
    opacity: 1.0;
}

.high-menu > li ul {
    visibility: hidden; 
    width: 225px;
    position: absolute;
    list-style-type: none;
    left: 24px;
    top: 38px;
    z-index: 10;
    background: #ffffe3;
    padding-top: 3px;
    color: #f74;
}

.high-menu > li ul > li {
    white-space: nowrap;
    text-align: left;
    display: block;
    line-height: 1.6;
    border-bottom: 1px solid #f74;
    color: #f74;
}

.high-menu > li ul > li > a {
    display: block;
    width: 100%;
    height: 33px;
    padding-top: 2px;
    padding-left: 6px;
    color: #f74;
}

.high-menu > li:hover ul {
    visibility: visible;
}

.high-menu > li ul > li:hover {
    visibility: visible;
}





.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.back-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: #ffffe3;
}

.back-cover-panel-far-left-high, .back-cover-panel-far-left-low, .back-cover-panel-near-left-high, .back-cover-panel-near-left-low, 
    .back-cover-panel-center-high, .back-cover-panel-near-right-high, .back-cover-panel-near-right-low, 
    .back-cover-panel-far-right-high, .back-cover-panel-far-right-low {
        position: absolute;
}


.back-cover-panel-far-left-high {
    top: 0;
    left: 0;
    width: 9%;
    height: 27%;
    background: #ffffeb;
    border-bottom: 2px solid #ffffed;
}

.back-cover-panel-far-left-low {
    top: 27%;
    left: 0;
    width: 9%;
    height: 73%;
    background: #ffffe3;
    border-top: 1px solid #ffffd8;
    border-right: 1px solid #ffffe7;
}

.back-cover-panel-near-left-high {
    top: 0;
    left: 9%;
    width: 10%;
    height: 62%;
    background: #ffffda;
    border-right: 1px solid #ffffd7;
}

.back-cover-panel-near-left-low {
    top: 62%;
    left: 9%;
    width: 10%;
    height: 38%;
    background: #ffffd4;
    border-top: 1px solid #ffffd0;
}

.back-cover-panel-center-high {
    top: 0;
    left: 19%;
    width: 58%;
    height: 80px;
    background: #ffffeb;
    border-bottom: 1px solid #ffffed;
}

.back-cover-panel-near-right-high {
    top: 0;
    left: 77%;
    width: 14%;
    height: 27%;
    background: #ffffd2;
}

.back-cover-panel-near-right-low {
    top: 27%;
    left: 77%;
    width: 14%;
    height: 73%;
    background: #ffffda;
}

.back-cover-panel-far-right-high {
    top: 0;
    left: 91%;
    width: 9%;
    height: 88%;
    background: #ffffe3;
}

.back-cover-panel-far-right-low {
    top: 88%;
    left: 91%;
    width: 9%;
    height: 12%;
    background: #ffffea;
}



.back-base-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #ffffe3;
}

.back-cover-panel-far-left-column, .back-cover-panel-near-left-column, .back-cover-panel-near-right-column, .back-cover-panel-far-right-column {
    position: fixed;
}

.back-cover-panel-far-left-column {
    top: 0;
    left: 0;
    width: 9%;
    height: 100%;
    background: #ffffe3;
}

.back-cover-panel-near-left-column {
    top: 0;
    left: 9%;
    width: 10%;
    height: 100%;  
    background: #ffffd2;
}

.back-cover-panel-near-right-column {
    top: 0;
    left: 77%;
    width: 14%;
    height: 100%;
    background: #ffffda;
}

.back-cover-panel-far-right-column {
    top: 0;
    left: 91%;
    width: 9%;
    height: 100%;    
    background: #ffffea;
}

.footer-cover-panel {
    position: absolute;
    top: -20px;
    width: 100%;
    z-index: 2;
    background: #ffffea;
    height: 80px;
}

.simple-post-image {
    max-width: 720px;
    margin: 20px auto 40px;
    border-radius: 4px;
}

.simple-post-image img {
    border-radius: 4px;
    display: block;
    border: 3px solid #fff;
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.25);
}

.simple-post-image span { 
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    width: 80%;
    color: #888;
    font-family: pt_sans_regular, Arial, sans-serif;
    text-align: center;
    font-size: 0.9em;
}

.post-single-info {
    position: relative;
    text-align: right;
    color: #999;
    font-size: 0.9em;
    margin-top: 15px;
    margin-bottom: 70px;
}

.post-single-author {
    position: absolute;
    left:0;
    top: 0;
    color: #999;
}

.post-single-other-section-articles {
    position: relative;
    min-height: 200px;
    margin: 0 0 45px;
    text-align: left;
    background: #ffffd2;
    padding: 15px;
}

.post-single-other-section-articles > h2 {
    font-weight: normal;
    font-size: 24px;
    display: block;
    text-align: left;
    margin-bottom: 20px;
    padding: 10px;
}

.post-single-other-section-item {
    display: inline-block;
    width: 30%;
    margin: 0 1%;
    vertical-align: middle;
}

.post-single-other-section-item > img {
    width: 100%;
    height: auto;
    border: 3px solid #fff;
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.25);
}

.post-single-other-section-item > h3 {
    font-weight: normal;
}


.cooking-info-list {
    margin-bottom: 20px;
    list-style-type: none;
    padding-left: 25px;
}

.cooking-steps-list > li {
    margin: 10px 0;
}


.about-image-container {
    position: relative;
    
    text-align: center;
}

.section-about-head-paragraph {
    padding: 20px 0 35px;
}

.section-paragraph {
    padding: 10px 0 20px;
}

.about-section-image {
    width: 750px;
    border: 12px solid #ffffd4;
    height: auto;
}

.paragraph-section-list {
    list-style-type: none;
    padding-bottom: 35px;
}

.paragraph-section-list > li > h3 {
    padding: 40px 0 22px;
    font-size: 21px;
    display: block;
    font-family: pt_sans_regular, sans-serif;
    color: #0b5b1b;
}

.paragraph-section-list > li > p {
    padding: 17px 25px 20px;
    background: #fff5cd;
    text-align: justify;
    border-radius: 8px;
}

.section-about-info-title {
    padding-top: 25px;
    font-size: 20px;
}

.section-about-info-title span {
    text-decoration: underline;
}

a.section-mail-link {
    color: #f74;
}

.news-section-first-container {
    padding: 30px 0 40px;
    text-align: center;
}

.news-section-first-item, .news-section-second-item {
    border: 1px solid transparent;
    width: 44%;
    text-align: justify;
    vertical-align: top;
    border-left: 1px solid #f93;
    border-top: 1px solid #f93;
    padding: 15px;
    display: block;
}

.news-section-first-item:hover, .news-section-second-item:hover {
    border: 1px solid transparent;
    border-right: 1px solid #f93;
    border-bottom: 1px solid #f93;
}

.news-section-first-item {
    float: left;
    margin-left: 10px;
}

.news-section-second-item {
    float: right;
    margin-right: 10px;
}

.news-section-first-item-image, .news-section-second-item-image {
    min-height: 275px;
}

.news-section-first-item-text, .news-section-second-item-text {
    min-height: 220px;
}

.news-section-first-item-image img, .news-section-second-item-image img {
    width: 100%;
    height: auto;
}

.news-section-first-item-title, .news-section-second-item-title {
    padding: 10px 0 18px;
    font-size: 19px;
}

.news-list-item-date {
    font-size: 15px;
    color: #777;
    padding-bottom: 18px;
}

.news-section-first-item-title h3, .news-section-second-item-title h3, .news-list-item-block h3 {
    font-weight: normal;
    font-family: pt_sans_regular, sans-serif;
}

.news-list-item {
    border: 1px solid transparent;
    margin: 50px 0;
    padding: 15px;
    position: relative;
    min-height: 150px;
    border-top: 1px solid #f93;
    border-left: 1px solid #f93;
    display: block;
}

.news-list-item:hover {
    border: 1px solid transparent;
    border-right: 1px solid #f93;
    border-bottom: 1px solid #f93;
}

.news-list-item-image {
    width: 15%;
    float: left;
    margin-right: 10px;
    left: 5px;
    top: 5px;
}

.news-list-item-block {
    width: 81%;
    margin-left: 18%;
}

.news-list-item-block h3 {
    display: block;
    line-height: 1.3;
    padding-bottom: 6px;
}

.news-list-item-text {
    text-align: justify;
}

.news-list-item-image img {
    width: 100%;
    height: auto;
}

.news-single-image {
    padding-top: 40px;
    text-align: center;
}

.news-single-image img {
    width: 700px;
    height: auto;
}

.news-paragraph-text {
    margin: 30px 0;
}

.post-single-comments-add-form {
    margin: 20px 0 45px;
}

.post-single-comments-add-form textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 130px;
    max-height: 130px;
    border: 1px solid #f93;
    background: #fcfcfc;
    font-family: jost_regular, sans-serif;
    padding: 15px;
    color: #555;
}

.post-single-comments-add-form textarea:focus {
    outline: none;
}

.post-single-comments-add-form input[type="submit"], .auth-form input[type="submit"], .exam-control-button, .exam-question-control-button {
    background: transparent;
    border: 1px solid #f93;
    cursor: pointer;
    display: block;
    position: relative;
    margin-top: 25px;
    color: #f30;
    transition: 0.15s all;
}

.post-single-comments-add-form input[type="submit"] {
    padding: 7px 18px;
    font-size: 15px;
}

a.exam-control-button, .exam-question-control-button {
    padding: 7px 40px;
    font-size: 18px;
    display: inline-block;
    color: #070;
    border: 1px solid #294;
}

.exam-question-control-button {
    padding: 7px 30px;
}

.post-single-comments-add-form input[type="submit"]:hover, .auth-form input[type="submit"]:hover {
    background: #f60;
    color: #fff;
}

.exam-control-button:hover, .exam-question-control-button:hover {
    background: #294;
    color: #fff;
}


.auth-form {
    padding-top: 40px;
}

.auth-form h3 {
    display: block;
    font-size: 19px;
    font-family: jost_regular, sans-serif;
    padding-bottom: 7px;
    font-weight: normal;
}

.auth-form input[type="text"], .auth-form input[type="password"] {
    display: block;
    margin-bottom: 30px;
    width: 240px;
    padding: 5px;
}

.auth-form input[type="submit"] {
    padding: 7px 16px;
    font-size: 17px;
    width: 170px;
    margin-top: 45px;
}

.result-form-message {
    padding: 12px 2px 0;
    font-size: 16px;
}

.error-message {
    color: #f00;
}

.success-message {
    color: #3a5;
}

.rely-notice-info {
    color: #777;
    font-size: 15px;
    padding: 15px 0 25px;
}

.breacrumb-container {
    padding: 5px 0 10px;
}

.breacrumb {
    display: block;
    list-style-type: none;
    padding: 5px 0 20px;
    font-size: 18px;
    font-weight: normal;
}

.breadcrumb-item {
    display: inline-block;
    padding-right: 8px;
    
}

.breadcrumb-item a {
    color: #888;
}

.breadcrumb li.active {
    color: #888;
    user-select: none;
}

.breadcrumb-glue-letter {
    user-select: none;
}

.exam-index-tile-block {
    padding-top: 30px;
}

.exam-index-tile-row {
    text-align: center;
    position: relative;
    height: 350px;
}

.exam-tile-left-item, .exam-tile-right-item {
    display: block;
    position: absolute;
    width: 380px;
    height: 264px;    
    border: 6px solid #fffbb9;
    text-align: right;
    transition: 0.12s all;
    border-radius: 3px;
    box-shadow: 0px 0px 4px rgba(240, 238, 220, 0.85);    
}

.exam-tile-left-item:hover, .exam-tile-right-item:hover {
    border: 6px solid #294;
    background: #294; 
}

.exam-tile-left-item:hover .exam-tile-info-panel, .exam-tile-right-item:hover .exam-tile-info-panel {
    background: #294;
    color: #fff;
}

.exam-tile-left-item {
    left: 2%;
}

.exam-tile-right-item {
    right: 2%;
}

.exam-tile-left-item img, .exam-tile-right-item img {
    width: 100%;
    height: auto;
    z-index: 1;
    border-radius: 3px;
    line-height: 0.0;
}

.exam-tile-info-panel {
    position: relative;
    top: -85px;
    min-height: 64px;
    width: 295px;
    display: inline-block;
    background: #ffc;
    padding: 6px 4px 6px 10px;
    opacity: 0.8;
    border-radius: 5px 0 0 5px;
    text-align: left;
    transition: 0.12s all;
}

.exam-tile-info-panel-name {
    font-size: 1.2em;
}

.exam-tile-info-panel-value {
    font-size: 0.9em;
}




.exam-preview-simple-info-block {
    position: relative;
    padding: 40px 0 50px;
}

.exam-preview-image-block {
    display: inline-block;
    top: 0;
    right: 5px;
    width: 42%;  
    margin-left: 6%;
    line-height: 0.0;
}

.exam-preview-image-block img {
    width: 100%;
    height: auto;
}


.exam-preview-params-block {
    padding: 5px 0 50px;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.exam-preview-params-block > div {
    padding-bottom: 8px;
}

.exam-preview-control-buttons {
    padding-top: 30px;    
}


.exam-question-design-high-line, .exam-question-design-bottom-line {
    position: relative;
    width: 700px;
    height: 1px;
    border-top: 1px solid #294;
}
.exam-question-design-high-line {
    margin: 30px 0 18px;
}

.exam-question-design-bottom-line {
    margin: 90px 0 18px;
}

.exam-question-info-block {
    
}

.exam-question-description {
    padding: 0 0 50px;
}

.exam-question-answers-single-choice, .exam-question-answers-multiple-choice {
    display: block;
    padding-top: 1px;
    margin-bottom: 35px;
    font-size: 16px;
    font-family: inter_regular;
    cursor: pointer;
}

.exam-question-answers-single-choice input, .exam-question-answers-multiple-choice input {
    margin-right: 12px;
    display: inline-block;
}


.exam-question-answers-control-buttons {
    padding-top: 30px;
    position: relative;
    text-align: center;
}

.exam-question-button-begin, .exam-question-button-previous, .exam-question-button-next, 
    .exam-question-button-finish, a.exam-result-index-button, a.cabinet-attempt-button, 
    .admin-posts-pagination-block a, .admin-posts-index-buttons a, .admin-posts-edit-submit, a.admin-posts-edit-return {
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: 0.15s all;
    
    padding: 7px 15px;
    font-size: 18px;
    display: inline-block;
    color: #070;
    border: 1px solid #294;
}

.exam-question-button-begin, .exam-question-button-finish {
    width: 170px;
    position: absolute;
}

.exam-question-button-previous, .exam-question-button-next {
    width: 120px;
    margin: 0 30px;    
}

.cabinet-attempt-button {
    text-align: center;
    position: relative;
    margin-top: 90px;
    width: 240px;
}

.exam-question-button-begin {
    left: 0;
}

.exam-question-button-finish {
    right: 0;
}

.exam-question-button-begin:hover, .exam-question-button-previous:hover, .exam-question-button-next:hover, 
    .exam-question-button-finish:hover, .exam-result-index-button:hover, .cabinet-attempt-button:hover,
    .admin-posts-pagination-block a:hover, .admin-posts-index-buttons a:hover, .admin-posts-edit-submit:hover, a.admin-posts-edit-return:hover {
    background: #294;
    color: #fff;
}

.exam-question-technic-info {
    display: none;
}


.exam-result-data-container {
    padding-top: 40px;
}

.exam-result-user-answers {
    padding-bottom: 50px;
}

.exam-result-user-answers > h3 {
    display: block;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px;
}

.exam-result-info-line {
    padding-bottom: 10px;
}

.exam-result-answer-line {
    padding-bottom: 8px;
}

.exam-result-control-buttons {
    padding-top: 40px;
}

.exam-result-wrong-answer {
    color: #f13;
}

.exam-result-right-notice {
    color: #294;
}

.exam-title-label {
    font-weight: normal;
    display: block;
    padding: 10px 0 5px;
    font-size: 24px;
}

.user-cabinet-attempt-container {
    position: relative;
    margin-top: 50px;
}

.user-cabinet-attempt-container > h3, .user-cabinet-attempt-container > h4, .cabinet-attempt-question-answer-block > h4 {
    font-family: pt_sans_regular;
    font-weight: normal;
    display: block;
}

.user-cabinet-attempt-container > h3 {
    font-size: 22px;
    padding-bottom: 35px;
}

.user-cabinet-attempt-container > h4 {
    font-size: 18px;
}

.cabinet-attempt-question-answer-block > h4 {
    font-size: 20px;
}

.cabinet-grid-view {
    table-collapse: collapse;
    display: table;
    width: 100%;
}

.cabinet-grid-view tr {
    border-top: 1px solid #4c6;
}

.cabinet-grid-view th {
    font-family: pt_sans_regular;
    padding: 7px 8px;
}

.cabinet-grid-view td {
    padding: 2px 8px;
    text-align: center;
}

.cabinet-grid-view td a:hover {
    color: #294;
}

.cabinet-attempt-container {
    padding-top: 40px;
}

.cabinet-attempt-line-info {
    padding-bottom: 8px;
}

.cabinet-attempt-question-answer-block {
    padding: 40px 0 40px;
}

.cabinet-attempt-question-answer-item {
    padding-left: 15px;
    padding-top: 20px;
}

.cabinet-attempt-answer-item-line {
    padding-top: 5px;
    padding-left: 20px;
}

.admin-posts-index-container {
    padding-top: 50px;
}

.admin-posts-pagination-block {
    padding-top: 15px;
    text-align: center;
}

.admin-posts-pagination-block a {
    padding: 0 10px 2px;
    font-size: 22px;
    line-height: 1.3;
    margin: 0 15px;
}

.posts-index-grid-column-action {
    padding: 0 5px;
}

.admin-posts-index-buttons {
    margin-top: 60px;
    position: relative;
}

.admin-posts-index-buttons a {
    top: 0;
    position: absolute;
    width: 250px;
    text-align: center;
}

.admin-posts-index-create-button {
    left: 5px;
}

.admin-posts-index-return-button {
    position: absolute;
    right: 5px;
}

.admin-posts-edit-container {
    padding: 30px 0 60px;
}

.admin-posts-edit-field-container {
    padding-bottom: 40px;
}

.admin-posts-edit-field-container > h3 {
    display: block;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 8px;
}

.admin-posts-edit-field-container input[type="text"] {
    padding: 6px 10px;
    font-size: 18px;
    width: 100%;
}

.admin-posts-edit-field-container textarea {
    min-width: 100%;
    max-width: 100%;
    
    border: 1px solid #aaa;
    background: #fcfcfc;
    font-family: jost_regular, sans-serif;
    padding: 15px;
    color: #555;
}

.admin-posts-edit-field-container textarea:focus {
    outline: none;
}

.admin-posts-edit-preview-textarea {
    min-height: 160px;
    max-height: 160px;
}

.admin-posts-edit-detail-textarea {
    min-height: 420px;
    max-height: 420px;
}

.admin-posts-edit-field-container select {
    display: block;
    padding: 7px 18px 7px 10px;
    border: 1px solid #294;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    width: 150px;
}

.admin-posts-edit-control-buttons {
    position: relative;
    margin-top: 50px;
}

.admin-posts-edit-submit {
    text-align: center;
    width: 240px;
}

a.admin-posts-edit-return {
    width: 240px;
    position: absolute;
    right: 0px;
    text-align: center;
    font-size: 21px;
    line-height: 1.05;
}



.admin-index-menu {
    padding-top: 30px;
}

.admin-index-menu a {
    text-decoration: underline;
    color: #d52;
    transition: 0.15s all;
}

.admin-index-menu a:hover {
    color: #f85;
}

.admin-posts-edit-field-error {
    padding-top: 12px;
    color: #f13;
    font-size: 16px;
}

.admin-posts-edit-message-block {
    padding: 30px 0 10px;
    color: #f13;
    font-family: pt_sans_regular, sans-serif;
}

.admin-posts-index-message {
    padding-top: 20px;
    font-size: 16px;
}

.admin-posts-index-success {
    color: #294;
}

.admin-posts-index-error {
    color: #f13;
}
