@font-face {
    font-family: "pt_sans_regular";
    src: url('../fonts/pt_sans/PTSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "pt_sans_bold";
    src: url('../fonts/pt_sans/PTSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "jost_regular";
    src: url('../fonts/jost/Jost-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "jost_medium";
    src: url('../fonts/jost/Jost-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "jost_semi_bold";
    src: url('../fonts/jost/Jost-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}
